@model NewVPP.ModelViews.MuaHangSuccessVM
@{
    ViewData["Title"] = "Mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>Thông tin mua hàng</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="container">
    <form>
        <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
                <h3>Đặt hàng thành công</h3>
                <p>Mã đơn hàng: #@Model.DonHangID</p>
                <p>Cảm ơn bạn đã đặt hàng</p>
                <br />
                <h3>THÔNG TIN ĐƠN HÀNG</h3>
                <p>Thông tin giao hàng</p>
                <p>Người nhận hàng: @Model.FullName</p>
                <p>Số điện thoại: @Model.Phone</p>
                <p>Địa chỉ: @Model.Address</p>
                <br />
                Để xem chi tiết đơn hàng vui lòng truy cập vào <a asp-controller="Accounts" asp-action="Dashboard"><strong>Tài khoản cá nhân.</strong></a>
            </div>
        </div>
    </form>
</div>

